* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: auto;
}

img {
    width: 20rem;
    padding-top: 1rem;
}

h2 {
    padding-top: 1rem;
}

p {
    padding-top: 1rem;
}

#title {
    margin: 2rem 0;
}

body {
    background: linear-gradient(90deg, #65ABEB, #ffd0d0);
}

header div {
    text-align: center;
    padding: 1rem;
}

header nav ul li a {
    text-decoration: none;
    margin-right: 2rem;
}

header nav ul li {
    display: inline-block;
}


header nav {
    background-color: rgb(238, 238, 238);
    padding: 0.5rem;
    border: solid rgb(216, 216, 216) 0.2rem;
    text-align: center;
}

section {
    background-color: white;
    border: solid rgb(252, 252, 252) 0.2rem;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(216, 216, 216);
}

.content-conteiner{
    display: inline-block;
    vertical-align: top;
}

.content-conteiner:last-child {
    margin-top: 6.7rem;
}

article {
    width: 50rem;
}

body .content-conteiner aside ul li a {
    text-decoration: none;
    list-style: none;
}

body .content-conteiner aside ul li{
    list-style: none;
}

aside {
    background-color: white;
    border: solid rgb(252, 252, 252) 0.2rem;
    border-radius: 5px;
    padding: 3rem;
    background-color: rgb(216, 216, 216);
}

.content-conteiner nav ul li {
    padding-top: 1rem
}

footer {
    background-color: white;
    border: solid rgb(252, 252, 252) 0.2rem;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(216, 216, 216);
    text-align: center;
    margin-top: 2rem;
}